<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>test</title>
</head>
<body>
	<table>
		<thead></thead>
		<tbody>
			<tr th:each="list, iterStat : ${list}">
				<td th:text="${list.num}"></td>
				<td th:text="${list.title}"></td>
				<td th:text="${list.writer}"></td>
				<td th:text="${#dates.format(list.date,'yyyy-MM-dd')}"></td>
				<td th:text="${list.cnt}"></td>
				<td th:text="${list.rcmd}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
